@font-face {
    font-family: "Nutino300";
    src: url(../../assets/fonts/Nunito_Sans/NunitoSans-Light.ttf);
}

@font-face {
    font-family: "Nutino400";
    src: url(../../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: "Nutino600";
    src: url(../../assets/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
}

@font-face {
    font-family: "Nutino700";
    src: url(../../assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}