<div class="myContent-container">
  <aside>
<!--    <app-sidebar-li itemName="Dashboards" routerLink="dashboards" [routerLinkActive]="'active'" [iconClass]="'bi bi-graph-up'"></app-sidebar-li>-->
<!--    <app-sidebar-li itemName="Data" routerLink="data" [routerLinkActive]="'active'" [iconClass]="'bi bi bi-calendar3-range-fill'"></app-sidebar-li>-->
<!--    <app-sidebar-li itemName="Reports" routerLink="reports" [routerLinkActive]="'active'" [iconClass]="'bi bi-file-earmark-ruled-fill'"></app-sidebar-li>-->
<!--    <app-sidebar-li itemName="Portfolios" routerLink="portfolios" [routerLinkActive]="'active'" [iconClass]="'bi bi-bag-check-fill'"></app-sidebar-li>-->
<!--    <app-sidebar-li itemName="Rank Sheet" routerLink="rank-sheets" [routerLinkActive]="'active'" [iconClass]="'bi bi-table'"></app-sidebar-li>-->

    <st-sidebar-item itemName="Dashboards" routerLink="dashboards" [routerLinkActive]="'active'" [iconClass]="'bi bi-graph-up'"></st-sidebar-item>
    <st-sidebar-item itemName="Data" routerLink="data" [routerLinkActive]="'active'" [iconClass]="'bi bi bi-calendar3-range-fill'"></st-sidebar-item>
    <st-sidebar-item itemName="Reports" routerLink="reports" [routerLinkActive]="'active'" [iconClass]="'bi bi-file-earmark-ruled-fill'"></st-sidebar-item>
    <st-sidebar-item itemName="Portfolios" routerLink="portfolios" [routerLinkActive]="'active'" [iconClass]="'bi bi-bag-check-fill'"></st-sidebar-item>
    <st-sidebar-item itemName="Rank Sheet" routerLink="rank-sheets" [routerLinkActive]="'active'" [iconClass]="'bi bi-table'"></st-sidebar-item>
  </aside>
  <article>
    <router-outlet></router-outlet>
  </article>
</div>

