<st-content-header contentItemName="Dashboards" contentItemDescription="Add your favorite files to the list so they are at your fingertips" ></st-content-header>
<article>
  <section>
    <h3 id="my-dashboards-title">My dashboards</h3>
    <div class="line"></div>
    <div class="dashboard-items-container">
      <ng-container *ngFor = "let item of dashboardsList">
        <st-studio-card [cardData] = "item" (cardEvent) = routeToPage($event)></st-studio-card>
      </ng-container>
    </div>
  </section>

  <section>
    <h3>My widgets</h3>
    <div class="line"></div>
    <div class="dashboard-items-container">
      <ng-container *ngFor = "let item of widgetsList">
        <st-studio-card [cardData] = "item" ></st-studio-card>
      </ng-container>
    </div>
  </section>

  <section>
    <h3>Shared dashboards</h3>
    <div class="line"></div>
    <div class="dashboard-items-container">
      <ng-container *ngFor = "let item of sharedDashboardsList">
        <st-studio-card [cardData] = "item"></st-studio-card>
      </ng-container>
    </div>
  </section>

</article>


