@use "../../../../styles/mixins" as *;
:host ::ng-deep .p-dropdown {
    width: 100%;
}

.page-header {
    @include flexbox(space-between);
    height: 90px;
    background: #fafbfc;
    box-shadow: inset 0px -1px 0px #ced1d6;
    padding: 0 20px 0 30px;

    .left-side {
        h3 {
            @include font("Nutino600", 24px);
            font-weight: 700;
        }
    }

    .right-side {
        .line {
            width: 100px;
            height: 100px;
            display: inline;
            border: 1px solid rgb(168, 168, 168);
            margin: 0 3px;
            transform: rotate(90deg);
        }
    }
}

article {
    display: grid;
    grid-template-columns: 280px 1fr;
    min-height: calc(100vh - 142px)
}
.sidebar {
    box-shadow: inset -1px -1px 0px #ced1d6;
    background: #fafbfc;
    .sidebar-title {
        @include flexbox(space-between);
        height: 70px;
        box-shadow: inset -1px -1px 0px #ced1d6;
        padding: 15px;
        h5 {
            @include font("Nutino600", 16px);
            font-weight: 700;
        }
    }
    .filters-container {
        padding: 15px 0;

        .filters-list {
            padding: 0 15px;
            h5 {
                @include font("Nutino400");
                margin: 15px 0 5px;
            }
        }
    }
}

.table-container {
    margin: 10px;
}

:host ::ng-deep .tp-bronze {
    background-color: rgb(223, 137, 25);
    padding-left: 3px;
  }
 
.grid-dimentions {
    width: 100%; height: 600px;
}  

:host ::ng-deep .ag-pivot-off .ag-header-group-cell {
    font-size: 17px;
    background-color: rgb(233, 242, 243)
  }