<st-content-header contentItemName="Rank Sheet" contentItemDescription="Review your coverage, price targets and submit price target updates" ></st-content-header>
<article>

    <section>
        <h3 id="rank-sheet-title">My dashboards</h3>
        <div class="line"></div>
        <div class="rank-items-container">
            <st-studio-card *ngFor = "let item of rankSheetList" [cardData] = "item" (cardEvent) = routeToPage($event)></st-studio-card>
        </div>
      </section>
      
</article>

