@use "../../../../styles/mixins" as *;
:host ::ng-deep .p-dropdown {
    width: 100%;
  }
.page-header {
    @include flexbox(space-between);
    height: 90px;
    background: #fafbfc;
    box-shadow: inset 0px -1px 0px #ced1d6;
    padding: 0 20px 0 30px;

    .left-side {
        h3 {
            @include font("Nutino600", 24px);
            font-weight: 700;
        }
    }

    .right-side {
        .line {
            width: 100px;
            height: 100px;
            display: inline;
            border: 1px solid rgb(168, 168, 168);
            margin: 0 3px;
            transform: rotate(90deg);
        }
    }
}

article {
    @include flexbox(flex-start, stretch);
}
.sidebar {
    width: 280px;
    box-shadow: inset -1px -1px 0px #ced1d6;
    background: #fafbfc;
    .sidebar-title {
        @include flexbox(space-between);
        height: 70px;
        box-shadow: inset -1px -1px 0px #ced1d6;
        padding: 15px;
        h5 {
            @include font("Nutino600", 16px);
            font-weight: 700;
        }
        i {
        }
    }
    .parameters-container {
        border-bottom: 1px solid lightgray;
        padding: 15px 0;
        .parameters-title {
            @include flexbox(space-between);
            padding: 0 15px;
            h5 {
                @include font("Nutino600", 16px);
                font-weight: 700;
            }
            div {
                @include flexbox();
            }
            div i {
                font-size: 14px;
                margin-left: 8px;
            }
        }
        .parameters-list {
            padding: 0 15px;
            h5 {
                @include font("Nutino400");
                margin: 15px 0 5px;
            }
           
        }
    }
}
