<header class="page-header">
    <div class="left-side">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        <h3>Daily dashboard</h3>
    </div>
    <div class="right-side">
        <button class="btn btn-lightgray">Share</button>
        <button class="btn btn-lightgray">Export</button>
        <button class="btn btn-teal">Edit</button>
        <div class="line"></div>
        <button class="btn btn-small">
            <i class="bi bi-three-dots"></i>
        </button>
    </div>
</header>
<article>
    
<st-content-sidebar>
    <st-content-sidebar-section></st-content-sidebar-section>
</st-content-sidebar>

    <cumulio-dashboard style="z-index: 100;"
        [dashboard]="dashboardID"
        [key]="'6d0b27a5-b7d3-4dff-ac1d-7e7ffabf0538'"
        [token]="'v3pWulOvuXzUBpmNlTcsxbQZkri6vIJmEftiKwBSjLQoSUUdVZcZR8wbIObcCxjkl5RhbptmaLQWGW3kJ3GJ4zoIpwhQEgjj0K4M4fh19tIyFH7K7mBQDR0vxpK8GruWXCNxNo4bAqS7orNxreqfrR'"
        [appServer]="'https://app.us.cumul.io/'"
        screenMode="desktop"
        switchScreenModeOnResize="false">
    </cumulio-dashboard>

</article>